@model IEnumerable<MVCShopping.Models.Producto> 

@{
    ViewData["Title"] = "Index";
}

<h1>asd</h1>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.talle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentNegocioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.prods) {
            <tr>
                <td>
                    (@item.idProducto)
                </td>
                <td>
                    @item.nombre
                </td>
                <td>
                    @item.descripcion
                </td>
                <td>
                    @item.precio
                </td>
                <td>
                    @item.talle
                </td>
                <td>
                    @item.ColorProd
                </td>
                <td>
                    @item.CategoriaProd
                </td>
                <td>
                    @item.CurrentNegocioId
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idProducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.idProducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.idProducto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>