@model MVCShopping.Models.Negocio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Negocio</h4>
    <hr />
    <dl class="row">
        <dt class= "col-sm-2">
            @Html.DisplayNameFor(model => model.idNegocio)
        </dt>
        <dd class= "col-sm-10">
            @Html.DisplayFor(model => model.idNegocio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idNegocio">Editar</a> |
    <a asp-action="Index">Atras</a>
</div>
